<main ng-controller="EmployeeController as employee ">


<!-- input for new employees  -->
    <section class="container">
        <h3>Add a new person</h3>
        <form class="col-md-12">
            <div class="form-group col-md-6">
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" class="form-control" ng-model="employee.newEmployee.firstName" placeholder="First Name" />
                <label for="employeeID">Employee ID</label>
                <input type="text" name="employeeID" class="form-control" ng-model="employee.newEmployee.employeeID" placeholder="Employee ID" />
                <label for="annualSalary">Annual Salary</label>
                <input type="text" name="annualSalary" class="form-control" ng-model="employee.newEmployee.annualSalary" placeholder="Annual Salary" />


            </div>
            <div class="from-group col-md-6">
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" class="form-control" ng-model="employee.newEmployee.lastName" placeholder="Last Name" />
                <label for="jobTitle">Job Title</label>
                <input type="text" name="jobTitle" class="form-control" ng-model="employee.newEmployee.jobTitle" placeholder="Job Title" />
                <br />
                <button type="submit" class="btn btn-primary" ng-click="employee.addEmployee()">Submit</button>

            </div>
    </section>
    <section class ='container'>

<!-- angular stuff for employees -->

        <h2>Employees</h2>
        <!-- <select ng-model="bookController.searchObject" ng-options="book.genre for book in bookController.books | unique: 'genre'"> -->
    <table class='table table-bordered'>
      <thead class="thead-default">
          <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>ID Number</td>
            <td>Job Title</td>
            <td>Annual Salary</td>
            <td> Delete </td>
          </tr>
        </thead>
        <tbody>
        <tr class="employee" ng-repeat="employee in employee.employees">

            <td ng-model="employee.firstname">{{employee.firstname}}</td>
            <td ng-model="employee.lastname" >{{employee.lastname}}</td>
            <td ng-model="employee.employeeid">{{employee.employeeid}}</td>
            <td ng-model="employee.jobtitle" >{{employee.jobtitle}}</td>
            <td ng-model="employee.annualsalary">{{employee.annualsalary | currency}}</td>

            <td><button ng-click="employee.clickMe(employees)">Delete</button></td>
            <!-- <button ng-click="employee.updateMe(employees)">Edit</button> -->
        </tr>
      </tbody>
    </table>
      </section>

      <!-- monthly salary info for all employees -->

      <section class='container'>

      <h2>Total Monthly Salary Expenditure</h2>
      <h3>  <div id="salaryCalc" ng-model="employee.salary">${{employee.salary}}</div> </h3>

      </section>
 </main>
